# Ignore these files on commits.

#
# Object files, libraries, exes, dlls and program databases
#

*.obj
*.lib
*.pdb
*.dll
*.exe
bin/*
*/Debug/*
*/Release/*

#
# Configuration files
#

*.vcxproj.user

#
# Build artifacts
#

*.pch
*.idb
*.res
*.sbr
*.log
*.tlog
*.lastbuildstate
.vs/*

#
# Emacs temporary files
#

*~
